# build output
dist/
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.production
.env.local

# editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# logs
npm-debug.log*
